In [1]:
import pandas as pd  
import numpy as np

In [3]:
df = pd.read_csv('ner_dataset.csv', encoding = "ISO-8859-1")
df.head(10)

    Sentence #           Word  POS    Tag
0  Sentence: 1      Thousands  NNS      O
1          NaN             of   IN      O
2          NaN  demonstrators  NNS      O
3          NaN           have  VBP      O
4          NaN        marched  VBN      O
5          NaN        through   IN      O
6          NaN         London  NNP  B-geo
7          NaN             to   TO      O
8          NaN        protest   VB      O
9          NaN            the   DT      O

In [14]:
for s in range(1, 11):
    agg = lambda s : [(w, p, t) for w, p, t in zip(s['Word'].values.tolist(),s['POS'].values.tolist(),s['Tag'].values.tolist())]

df.groupby("Sentence #").apply(agg)

C:\Users\pubg3\AppData\Local\Temp\ipykernel_10712\2776930424.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Sentence #").apply(agg)

Sentence #
Sentence: 1         [(thousands, NNS, O)]
Sentence: 10       [(iranian, JJ, B-gpe)]
Sentence: 100       [(helicopter, NN, O)]
Sentence: 1000           [(they, PRP, O)]
Sentence: 10000      [(u.n., NNP, B-geo)]
                            ...
Sentence: 9995     [(opposition, NNP, O)]
Sentence: 9996              [(on, IN, O)]
Sentence: 9997      [(following, VBG, O)]
Sentence: 9998           [(since, IN, O)]
Sentence: 9999             [(the, DT, O)]
Length: 47959, dtype: object

In [10]:
df['Word']

0              thousands
1                     of
2          demonstrators
3                   have
4                marched
               ...
1048570             they
1048571        responded
1048572               to
1048573              the
1048574           attack
Name: Word, Length: 1048575, dtype: object

In [6]:
a = [(s,w,p,t) for s,w,p,t in df.values[:10]]
a

[('Sentence: 1', 'Thousands', 'NNS', 'O'),
 (nan, 'of', 'IN', 'O'),
 (nan, 'demonstrators', 'NNS', 'O'),
 (nan, 'have', 'VBP', 'O'),
 (nan, 'marched', 'VBN', 'O'),
 (nan, 'through', 'IN', 'O'),
 (nan, 'London', 'NNP', 'B-geo'),
 (nan, 'to', 'TO', 'O'),
 (nan, 'protest', 'VB', 'O'),
 (nan, 'the', 'DT', 'O')]

In [12]:
df[df.groupby('Sentence #')]

TypeError: unhashable type: 'DataFrame'

In [4]:
for (s,w,p,t) in df.values[:100]:
    print(s,w,p,t)

Sentence: 1 Thousands NNS O
nan of IN O
nan demonstrators NNS O
nan have VBP O
nan marched VBN O
nan through IN O
nan London NNP B-geo
nan to TO O
nan protest VB O
nan the DT O
nan war NN O
nan in IN O
nan Iraq NNP B-geo
nan and CC O
nan demand VB O
nan the DT O
nan withdrawal NN O
nan of IN O
nan British JJ B-gpe
nan troops NNS O
nan from IN O
nan that DT O
nan country NN O
nan . . O
Sentence: 2 Families NNS O
nan of IN O
nan soldiers NNS O
nan killed VBN O
nan in IN O
nan the DT O
nan conflict NN O
nan joined VBD O
nan the DT O
nan protesters NNS O
nan who WP O
nan carried VBD O
nan banners NNS O
nan with IN O
nan such JJ O
nan slogans NNS O
nan as IN O
nan " `` O
nan Bush NNP B-per
nan Number NN O
nan One CD O
nan Terrorist NN O
nan " `` O
nan and CC O
nan " `` O
nan Stop VB O
nan the DT O
nan Bombings NNS O
nan . . O
nan " `` O
Sentence: 3 They PRP O
nan marched VBD O
nan from IN O
nan the DT O
nan Houses NNS O
nan of IN O
nan Parliament NN O
nan to TO O
nan a DT O
nan rally NN O
nan in IN O
nan Hyde NNP B-geo
nan Park NNP I-geo
nan . . O
Sentence: 4 Police NNS O
nan put VBD O
nan the DT O
nan number NN O
nan of IN O
nan marchers NNS O
nan at IN O
nan 10,000 CD O
nan while IN O
nan organizers NNS O
nan claimed VBD O
nan it PRP O
nan was VBD O
nan 1,00,000 CD O
nan . . O
Sentence: 5 The DT O
nan protest NN O
nan comes VBZ O
nan on IN O
nan the DT O
nan eve NN O
nan of IN O
nan the DT O
nan annual JJ O
nan conference NN O
nan of IN O
nan Britain NNP B-geo
nan 's POS O
nan ruling VBG O
nan Labor NNP B-org
nan Party NNP I-org
nan in IN O

In [16]:
df = pd.read_csv('data.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [18]:
df.groupby('Duration').mean()

TypeError: agg function failed [how->mean,dtype->object]